.grocery {
	cursor: pointer;
	padding: 0.5rem;
	margin: 0.5rem;
	transition: all 0.1s;
	display: flex;
	justify-content: space-between;
}

.grocery:hover {
	scale: 1.01;
	background-color: white;
	color: black;
}

.deleteBtn {
	padding: 0.05rem;
}

.deleteBtn:hover {
	background-color: black;
	color: white;
}
