.groceries {
	color: white;
	max-width: 20rem;
	margin: auto;
}

.groceryItem {
	cursor: pointer;
	padding: 0.5rem;
	margin: 0.5rem;
	transition: all 0.1s;
	display: flex;
	justify-content: space-between;
}
