section {
	margin: auto;
	min-width: 40rem;
}

table {
	text-align: center;
	border: 1px solid orange;
	margin: auto;
	padding: 1rem;
}

button {
	margin: 0.5rem;
}

.ingredient {
	text-align: left;
}

.actions {
	display: flex;
}

input {
	text-align: center;
	width: 5rem;
}
