.ingredients {
	margin: auto;
	min-width: 40rem;
}

.ingredientTable {
	text-align: center;
	border: 1px solid orange;
	margin: auto;
	padding: 1rem;
}

.ingredientBtns {
	margin: 0.5rem;
}

.ingredientRow {
	text-align: left;
}

.ingredientActions {
	display: flex;
}

input {
	text-align: center;
	width: 5rem;
}
