.form {
	padding: 1rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	max-width: 30rem;
	margin: auto;
	border: solid 1px orange;
	border-radius: 10px;
}

.control {
	display: flex;
	margin: 0.5rem;
}

input {
	border-radius: 5px;
	margin: 0px 5px;
}
