.authForm {
	background-color: purple;
}

form {
	display: flex;
	flex-direction: column;
	max-width: 25rem;
	align-items: center;
	margin: auto;
	padding: 2rem;
	border-radius: 10px;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.control {
}
