.recipes {
  margin: 3rem;
  display: grid;
  gap: 1rem;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, minmax(15rem, 3fr));
}

label[htmlForm='cuisine'] {
  margin-right: 0.3rem;
}
