.grocery {
  padding: 0.5rem;
  margin: 0.5rem;
  transition: all 0.1s;
  display: flex;
  justify-content: space-between;
  cursor: default;
}

.deleteBtn {
  color: white;
}

.deleteBtn:hover {
  /* background-color: black; */
  color: red;
  cursor: pointer;
}
