.ingredients {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ingredientTable {
  text-align: center;
  border: 1px solid orange;
  margin: auto;
  padding: 1rem;
  overflow-x: auto;
}

.ingredientBtns {
  margin: 0.5rem;
}

.ingredientBtns:hover {
  background-color: orange;
  cursor: pointer;
}

.ingredientActions {
  display: flex;
}

.newIngredient {
  display: flex;
  align-items: center;
  gap: 5px;
}

.newIngredient input {
  max-width: 7rem;
}

.leftColumn {
  text-align: left;
}
