.header {
	font-weight: bold;
}

.authForm {
	background-color: salmon;
	display: flex;
	flex-direction: column;
	max-width: 25rem;
	align-items: center;
	margin: auto;
	padding: 2rem;
	border-radius: 10px;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.controls {
	display: flex;
	gap: 10px;
	padding: 0.5rem;
}

.inputs {
	border: 1px black solid;
	padding: 1rem;
	margin: 1rem;
}
